* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.top {
  background-image: url(img/bac.png);
  height: 735px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top__title {
  padding-top: 64px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
  max-width: 792px;
}

.top__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.top__catalog {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-thickness: 0%;
  color: #ffffff;
}

.top__catalog:hover {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.header {
  height: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.header__input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu__link {
  text-decoration: none;
}

.menu__link_catalog:hover {
  text-decoration: underline;
}

.menu__link_basket:hover {
  text-decoration: underline;
}

.menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.menu-mob {
  display: none;
}

.menu-container {
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.menu-basket-form {
  display: none;
  position: absolute;
  top: 66px;
  width: 573px;
  height: 480px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

.menu__link_basket:hover + .menu-basket-form {
  display: block;
}

.menu-cart {
  width: 144;
  height: 144;
}

.menu-basket-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 24px;
}

.menu-basket-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-basket-info__text {
  font-weight: 500;
  font-size: 24px;
}
.menu-basket-info__price {
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}

.menu-basket-link {
  display: flex;
  gap: 24px;
}
.menu-basket-link__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgb(0, 0, 0);
}

.menu-basket-item {
  display: flex;
  justify-content: space-between;
}

.menu-basket-item2 {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
}

.menu-basket-left {
  display: flex;
  flex-direction: row;
}

.menu-basket-total {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.menu-basket-total__text {
  font-weight: 400;
  font-size: 24px;
}
.menu-basket-total__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -3%;
}

.menu-basket-input {
  width: 71px;
  height: 51px;
  background: rgb(247, 246, 246);
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  text-align: center;
  margin-right: 14px;
  color: rgb(0, 0, 0);
  font-family: inherit;
}

.menu-basket-btn-form {
  display: flex;
  gap: 7px;
  justify-content: center;
}
.menu-basket-btn-form__text-form {
  box-sizing: border-box;
  width: 207px;
  height: 40px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.menu-basket-btn-form__text-form:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.menu-basket-container {
  display: flex;
  justify-content: space-between;
}

.top__subtitle {
  padding-bottom: 16px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
}

.for-box {
  padding-top: 64px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for_1.jpg);
}

.for__item_2 {
  background-image: url(img/for_2.jpg);
}

.for__item_3 {
  background-image: url(img/for_3.jpg);
}

.for__item_4 {
  background-image: url(img/for_4.jpg);
}

.for__item_5 {
  background-image: url(img/for_5.jpg);
}

.discount__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.center__product {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.center__title {
  padding-top: 64px;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.catalog {
  width: 378px;
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  position: relative;
}

.catalog:hover .catalog__icons {
  display: flex;
}

.catalog__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  padding-bottom: 9px;
}

.catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgb(136, 136, 136);
  padding-bottom: 12px;
}

.price {
  display: flex;
  gap: 32px;
}

.catalog__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: rgb(5, 5, 5);
}

.catalog__price_sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: rgb(136, 136, 136);
}

.catalog__name {
  padding-bottom: 10px;
  padding-top: 9px;
}

.catalog__icons {
  display: none;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.catalog__icon {
  cursor: pointer;
}

.catalog-bloc__ctl {
  padding-top: 32px;
  padding-bottom: 65px;
  text-decoration-style: solid;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
}

.catalog-bloc__ctl:hover {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.footer {
  background-image: url(./img-catalog/footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom 50% 100%;
  background-size: cover;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  gap: 129px;
}

.footer__back {
  left: 0px;
  top: 3383px;
  background: #f7f6f6;
}

.footer-link__menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.link {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-link__home:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__catalog:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__basket:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: rgb(0, 0, 0);
}

.footer-link__contact {
  color: gray;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.footer-link__contact_number:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__contact_email:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.link-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link-icons__vk:hover {
  filter: brightness(0);
}
.link-icons__tg:hover {
  filter: brightness(0);
}
.link-icons__dz:hover {
  filter: brightness(0);
}

.footer__form_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}

.footer__form_input {
  font-family: inherit;
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  font-weight: normal;
  background-color: transparent;
  outline: none;
  color: rgb(196, 196, 196);
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-top: 12px;
}

.footer__form_input::-moz-placeholder {
  font-family: inherit;
  color: rgb(196, 196, 196);
}

.footer__form_input::placeholder {
  font-family: inherit;
  color: rgb(196, 196, 196);
}

.footer__fr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  font-family: inherit;
  margin-bottom: 64px;
  width: 260px;
  height: 40px;
  background: rgba(222, 215, 215, 0.41);
  color: rgb(4, 4, 4);
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.btn:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.top-basket {
  height: 400px;
  background-image: url(./img-basket/basket.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-basket__text {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  padding-bottom: 126px;
  padding-top: 127px;
}

.header {
  height: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
.header__input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
.header__navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  gap: 32px;
}
.header__navigation-catl:hover {
  text-decoration: underline;
}
.header__navigation-bast:hover {
  text-decoration: underline;
}

.navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  gap: 32px;
}

.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.basket__link_box {
  display: flex;
  gap: 30px;
}
.basket__input {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  text-align: center;
  margin-right: 14px;
  color: rgb(0, 0, 0);
  font-family: inherit;
}

.basket-content {
  grid-column: span 8;
  width: 786px;
}

.basket-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.basket-btn {
  display: flex;
  gap: 7px;
}
.basket-btn__text {
  box-sizing: border-box;
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.basket-btn__text:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.basket-form {
  height: 556px;
  width: 379px;
  background: rgb(247, 246, 246);
  border-radius: 20px;
  border: none;
  grid-column: span 4;
}

.basket-form-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 41px;
}
.basket-form-data__name {
  width: 288px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-color: transparent;
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: rgb(247, 246, 246);
}
.basket-form-data__name::-moz-placeholder {
  color: #000000;
  padding-bottom: 3px;
  font-family: inherit;
}
.basket-form-data__name::placeholder {
  color: #000000;
  padding-bottom: 3px;
  font-family: inherit;
}

.basket-total {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}
.basket-total__text {
  padding-right: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
.basket-total__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.basket-form-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  padding-top: 42px;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.basket-item {
  width: 786px;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.basket-left {
  display: flex;
  gap: 32px;
}

.basket-info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.basket-info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: rgb(5, 5, 5);
}
.basket-info__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgb(136, 136, 136);
  padding-top: 14px;
}
.basket-info__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(5, 5, 5);
  padding-top: 16px;
}

.basket-link {
  display: flex;
  gap: 30px;
}
.basket-link__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgb(0, 0, 0);
}

.basket-btn-form {
  display: flex;
  gap: 7px;
  justify-content: center;
}
.basket-btn-form__text-form {
  box-sizing: border-box;
  width: 290px;
  height: 41px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.basket-btn-form__text-form:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.cart {
  width: 173px;
  height: 173px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .center__product {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .foot-logo {
    display: none;
  }
  .basket {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .basket-btn {
    padding-bottom: 64px;
  }
}
@media (min-width: 767px) and (max-width: 834px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .filtering-form {
    right: -242px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }
  .center__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 32px;
  }
  .header {
    border: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .header__navigation {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .top-basket__text {
    font-size: 48px;
    text-align: center;
  }
  .top-cat__text {
    font-size: 48px;
    text-align: center;
  }
  .heading {
    font-weight: 600;
    font-size: 24px;
  }
  .for {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item_big {
    height: 244px;
  }
  .catalog__img {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog__name {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__description {
    font-size: 14px;
    padding-top: 8px;
  }
  .catalog__price {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__card {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog-bloc__ctl {
    padding-bottom: 32px;
    padding-top: 0px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer-content {
    justify-content: center;
    gap: 34px;
  }
  .footer-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
  .basket {
    gap: 0px;
  }
  .basket-item {
    width: 343px;
  }
  .basket-name {
    display: none;
  }
  .basket-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .basket-info__text {
    font-weight: 500;
    font-size: 18px;
  }
  .basket-info__description {
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-info__price {
    font-weight: 500;
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-link__text {
    font-size: 14px;
    padding-top: 0px;
  }
  .basket-btn {
    display: flex;
    gap: 14px;
  }
  .basket-btn__text {
    width: 166px;
  }
  .cart {
    display: none;
  }
  .basket-form {
    width: 343px;
  }
  .basket-form-data {
    padding-left: 14px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
  }
  .nav .nav__links {
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
  }
  .container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .filter-botton-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .filtering-form__content-wrapper {
    display: flex;
    gap: 32px 65px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 36px;
  }
  .filtering-form {
    padding: 48px 48px;
    width: 100%;
    right: -95px;
    display: block;
  }
  .filtering-form__button {
    align-self: center;
  }
  .catalog-bloc__ctl {
    padding-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-top: 32px;
  }
  .nav {
    padding-top: 32px;
  }
  .catalog {
    width: 345px;
  }
  .catalog__img {
    width: 100%;
  }
  .center__title {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 512px) {
  .filtering-form {
    right: -95px;
  }
}
.top-cat {
  background-image: url(img-catalog/bac.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 1440;
  height: 400;
}

.navigation {
  display: flex;
  gap: 32px;
}

.header__navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__navigation-catl:hover {
  text-decoration: underline;
}

.header__navigation-bast:hover {
  text-decoration: underline;
}

.menu-mob {
  display: none;
}

.top-cat__text {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  padding-bottom: 126px;
  padding-top: 127px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-top: 64px;
}

.nav__links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.links {
  width: 229;
  height: 32;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav__links-glav:hover {
  text-decoration: underline;
}

.nav__links-cat:hover {
  text-decoration: underline;
}

.filter-botton-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  gap: 10px;
}

.filter-botton {
  background-image: url(img-catalog/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 23px;
  padding-top: 9px;
  padding-bottom: 11px;
  box-sizing: border-box;
  width: 182px;
  height: 40px;
  left: 192px;
  border-width: 1px;
  border-radius: 20px;
  border: 1px solid rgb(196, 196, 196);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.filter-button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.filter-button {
  font-weight: 500;
  text-align: start;
  max-width: 182px;
  border-color: #c4c4c4;
  background-image: url(./img-catalog/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  height: 450px;
  width: 540px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button {
  align-self: flex-end;
  max-width: 190px;
  width: 100%;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.radio__input:checked + .radio__label::before {
  border-color: rgb(0, 0, 0);
  background-image: url(./img-catalog/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
}

.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  height: 15px;
  width: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__input_black {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid rgb(136, 136, 136);
  position: absolute;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(./img-catalog/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: rgb(0, 0, 0);
}

.checkbox__black:checked + .checkbox__label::before {
  background-image: url(./img-catalog/VectorW.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: rgb(255, 255, 255);
}

.checkbox__label--white::before {
  background-color: rgb(255, 255, 255);
  border-color: rgb(115, 115, 115);
}

.checkbox__label--black::before {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.checkbox__label--gray::before {
  background-color: rgb(115, 115, 115);
  border-color: rgb(115, 115, 115);
}

.checkbox__label--red::before {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.checkbox__label--orange::before {
  background-color: rgb(255, 122, 65);
  border-color: rgb(255, 122, 65);
}

.checkbox__label--yellow::before {
  background-color: rgb(242, 203, 1);
  border-color: rgb(242, 203, 1);
}

.checkbox__label--green::before {
  background-color: rgb(0, 191, 42);
  border-color: rgb(0, 191, 42);
}

.checkbox__label--teal::before {
  background-color: rgb(28, 204, 151);
  border-color: rgb(28, 204, 151);
}

.checkbox__label--light-blue::before {
  background-color: rgb(0, 159, 227);
  border-color: rgb(0, 159, 227);
}

.checkbox__label--blue::before {
  background-color: rgb(0, 10, 248);
  border-color: rgb(0, 10, 248);
}

.checkbox__label--purple::before {
  background-color: rgb(103, 16, 214);
  border-color: rgb(103, 16, 214);
}

.checkbox__label--violet::before {
  background-color: rgb(157, 13, 181);
  border-color: rgb(157, 13, 181);
}

.checkbox__label--lavender::before {
  background-color: rgb(216, 154, 255);
  border-color: rgb(216, 154, 255);
}

.checkbox__label--pink::before {
  background-color: rgb(255, 101, 166);
  border-color: rgb(255, 101, 166);
}

.filtering-form__button {
  font-family: inherit;
  width: 260px;
  height: 40px;
  background: rgb(255, 255, 255);
  color: rgb(4, 4, 4);
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid rgb(4, 4, 4);
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.filtering-form__button:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.option {
  background-image: url(img-catalog/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  box-sizing: border-box;
  width: 227px;
  height: 40px;
  border-width: 1px;
  border-radius: 20px;
  border: 1px solid rgb(196, 196, 196);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding-left: 23px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.catalog {
  width: 378px;
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  z-index: -1;
}

.catalog:hover .catalog__icons {
  display: flex;
}

.catalog__icons {
  display: none;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.catalog__icon {
  cursor: pointer;
}

.catalog__img-vektor2 {
  position: absolute;
  padding-left: 345px;
  padding-top: 10px;
}

.center__product {
  padding-top: 36px;
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.catalog__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  padding-top: 10px;
}

.catalog__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgb(136, 136, 136);
  padding-top: 8px;
}

.catalog__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: rgb(5, 5, 5);
  padding-top: 12px;
}

.footer {
  background-image: url(./img-catalog/footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom 50% 100%;
  background-size: cover;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  gap: 129px;
}

.footer__back {
  left: 0px;
  top: 3383px;
  background: #F7F6F6;
}

.footer-link__menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.link {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-link__home:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__catalog:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__basket:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: rgb(0, 0, 0);
}

.footer-link__contact {
  color: gray;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.footer-link__contact_number:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.footer-link__contact_email:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.link-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link-icons__vk:hover {
  filter: brightness(0);
}

.link-icons__tg:hover {
  filter: brightness(0);
}

.link-icons__dz:hover {
  filter: brightness(0);
}

.footer__form_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}

.footer__form_input {
  font-family: inherit;
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  font-weight: normal;
  background-color: #FFFFFF;
  outline: none;
  color: rgb(196, 196, 196);
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-top: 12px;
}

.footer__form_input::-moz-placeholder {
  font-family: inherit;
  color: rgb(196, 196, 196);
}

.footer__form_input::placeholder {
  font-family: inherit;
  color: rgb(196, 196, 196);
}

.footer__fr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  font-family: inherit;
  margin-bottom: 64px;
  width: 260px;
  height: 40px;
  background: rgba(222, 215, 215, 0.41);
  color: rgb(4, 4, 4);
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.btn:hover {
  transition: background-color 1s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .center__product {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .foot-logo {
    display: none;
  }
  .basket {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .basket-btn {
    padding-bottom: 64px;
  }
}
@media (min-width: 767px) and (max-width: 834px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .filtering-form {
    right: -242px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }
  .center__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 32px;
  }
  .header {
    border: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .header__navigation {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .top-basket__text {
    font-size: 48px;
    text-align: center;
  }
  .top-cat__text {
    font-size: 48px;
    text-align: center;
  }
  .heading {
    font-weight: 600;
    font-size: 24px;
  }
  .for {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item_big {
    height: 244px;
  }
  .catalog__img {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog__name {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__description {
    font-size: 14px;
    padding-top: 8px;
  }
  .catalog__price {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__card {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog-bloc__ctl {
    padding-bottom: 32px;
    padding-top: 0px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer-content {
    justify-content: center;
    gap: 34px;
  }
  .footer-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
  .basket {
    gap: 0px;
  }
  .basket-item {
    width: 343px;
  }
  .basket-name {
    display: none;
  }
  .basket-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .basket-info__text {
    font-weight: 500;
    font-size: 18px;
  }
  .basket-info__description {
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-info__price {
    font-weight: 500;
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-link__text {
    font-size: 14px;
    padding-top: 0px;
  }
  .basket-btn {
    display: flex;
    gap: 14px;
  }
  .basket-btn__text {
    width: 166px;
  }
  .cart {
    display: none;
  }
  .basket-form {
    width: 343px;
  }
  .basket-form-data {
    padding-left: 14px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
  }
  .nav .nav__links {
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
  }
  .container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .filter-botton-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .filtering-form__content-wrapper {
    display: flex;
    gap: 32px 65px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 36px;
  }
  .filtering-form {
    padding: 48px 48px;
    width: 100%;
    right: -95px;
    display: block;
  }
  .filtering-form__button {
    align-self: center;
  }
  .catalog-bloc__ctl {
    padding-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-top: 32px;
  }
  .nav {
    padding-top: 32px;
  }
  .catalog {
    width: 345px;
  }
  .catalog__img {
    width: 100%;
  }
  .center__title {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 512px) {
  .filtering-form {
    right: -95px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .center__product {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .foot-logo {
    display: none;
  }
  .basket {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .basket-btn {
    padding-bottom: 64px;
  }
}
@media (min-width: 767px) and (max-width: 834px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .filtering-form {
    right: -242px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }
  .center__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 32px;
  }
  .header {
    border: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .header__navigation {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .top-basket__text {
    font-size: 48px;
    text-align: center;
  }
  .top-cat__text {
    font-size: 48px;
    text-align: center;
  }
  .heading {
    font-weight: 600;
    font-size: 24px;
  }
  .for {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item_big {
    height: 244px;
  }
  .catalog__img {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog__name {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__description {
    font-size: 14px;
    padding-top: 8px;
  }
  .catalog__price {
    font-size: 18px;
    padding-top: 8px;
  }
  .catalog__card {
    width: 342px;
    height: 226px;
    padding-top: 8px;
  }
  .catalog-bloc__ctl {
    padding-bottom: 32px;
    padding-top: 0px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer-content {
    justify-content: center;
    gap: 34px;
  }
  .footer-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
  .basket {
    gap: 0px;
  }
  .basket-item {
    width: 343px;
  }
  .basket-name {
    display: none;
  }
  .basket-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .basket-info__text {
    font-weight: 500;
    font-size: 18px;
  }
  .basket-info__description {
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-info__price {
    font-weight: 500;
    font-size: 12px;
    padding-top: 0px;
  }
  .basket-link__text {
    font-size: 14px;
    padding-top: 0px;
  }
  .basket-btn {
    display: flex;
    gap: 14px;
  }
  .basket-btn__text {
    width: 166px;
  }
  .cart {
    display: none;
  }
  .basket-form {
    width: 343px;
  }
  .basket-form-data {
    padding-left: 14px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
  }
  .nav .nav__links {
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
  }
  .container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .filter-botton-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .filtering-form__content-wrapper {
    display: flex;
    gap: 32px 65px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 36px;
  }
  .filtering-form {
    padding: 48px 48px;
    width: 100%;
    right: -95px;
    display: block;
  }
  .filtering-form__button {
    align-self: center;
  }
  .catalog-bloc__ctl {
    padding-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-top: 32px;
  }
  .nav {
    padding-top: 32px;
  }
  .catalog {
    width: 345px;
  }
  .catalog__img {
    width: 100%;
  }
  .center__title {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 512px) {
  .filtering-form {
    right: -95px;
  }
}/*# sourceMappingURL=style.css.map */